node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Databases
*.db
*.sqlite
prisma/dev.db

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
